<div class="main_content_div">
  <div class="card_div">
    <div class="upper_div">
      <div style="width: 50%;">
        <ion-label class="small">Acumulado</ion-label>
        <ion-label class="bold_lbl">Casos por 1M habitantes</ion-label>
      </div>
    </div>
    <div class="lower_div">
      <div class="up_div">
        <div id="chartContainerCases" style="height: 370px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

<div class="main_content_div">
  <div class="card_div">
    <div class="upper_div">
      <div style="width: 50%;">
        <ion-label class="small">Acumulado</ion-label>
        <ion-label class="bold_lbl">Fallecidos 1M habitantes</ion-label>
      </div>
    </div>
    <div class="lower_div">
      <div class="up_div">
        <div id="chartContainerDeaths" style="height: 370px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>

<div class="main_content_div">
  <div class="card_div">
    <div class="upper_div">
      <div style="width: 50%;">
        <ion-label class="small">Acumulado</ion-label>
        <ion-label class="bold_lbl">Tests 1M habitantes</ion-label>
      </div>
    </div>
    <div class="lower_div">
      <div class="up_div">
        <div id="chartContainerTests" style="height: 370px; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>