<div class="main_content_div">
    <div class="card_div">
        <div class="upper_div">
            <div style="width: 50%;">
                <ion-label class="small">
                    Estadísticas
                </ion-label>
                <ion-label class="bold_lbl">
                    {{ date | date: 'd/MM/yy'}}
                </ion-label>
            </div>
            <div style="width: 50%;">
                <ion-label class="bold_lbl">
                    <ion-select value="España" (ionChange)="onSelectorChange($event)">
                        <ion-select-option *ngFor="let community of communities" [value]="community"> {{ community }}</ion-select-option>
                    </ion-select>
                </ion-label>
            </div>
        </div>
        <div class="lower_div">
            <div class="up_div">
                <ion-list>
                    <ion-item>
                        <ion-label style="font-size: small">Confirmados:</ion-label>
                        <ion-note slot="end" style="font-size: small">{{ summary?.Total_Casos_cambio_porciento_24h }}</ion-note>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item>
                        <ion-label style="font-size: small">Nuevos casos:</ion-label>
                        <ion-note slot="end" style="font-size: small">{{ summary?.Total_Nuevos_Casos }}</ion-note>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item>
                        <ion-label style="font-size: small">Fallecidos:</ion-label>
                        <ion-note slot="end" style="font-size: small">{{ summary?.Total_Fallecidos_24h }}</ion-note>
                    </ion-item>
                </ion-list>
                <ion-list>
                    <ion-item>
                        <ion-label style="font-size: small">Recuperados:</ion-label>
                        <ion-note slot="end" style="font-size: small">{{ summary?.Total_Recuperados_24h }}</ion-note>
                    </ion-item>
                </ion-list>
            </div>
        </div>
    </div>
</div>
