<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="list-circle-outline"></ion-icon>
            <ion-label>General</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="statistics">
            <ion-icon name="pie-chart-outline"></ion-icon>
            <ion-label>Estadísticas</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="information">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>Información</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>