<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon name="home-outline"></ion-icon>
                <ion-label>General</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="europe">
            <ion-icon name="pie-chart-outline"></ion-icon>
            <ion-label>Europa</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="world">
            <ion-icon name="globe-outline"></ion-icon>
            <ion-label>Mundo</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="information">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>Información</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>