<div class="main_content_div">
    <div class="card_div">
        <div class="upper_div">
            <div style="width: 50%;">
                <ion-label class="small">Acumulado</ion-label>
                <ion-label class="bold_lbl">{{ communitySelected$ | async }}</ion-label>
            </div>
        </div>
        <div class="lower_div">
            <div class="up_div">
                <div id="accumulateChartContainer" style="height: 370px; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>