<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title>Estadísticas COVID19</ion-title>
        </ion-toolbar>
    </ion-header>
    <app-summary></app-summary>
    <ion-toolbar>
        <ion-segment value="all" (click)="onSelectorClicked($event)">
            <ion-segment-button value="all">
                <ion-label>Casos acumulados</ion-label>
            </ion-segment-button>
            <ion-segment-button value="daily">
                <ion-label>Casos diario</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <!--  <table class="table table-striped">-->
    <!--    <thead>-->
    <!--    <tr>-->
    <!--      <th scope="col">#</th>-->
    <!--      <th scope="col">Comunidad autonoma</th>-->
    <!--      <th scope="col">Casos totales</th>-->
    <!--      <th scope="col">Hospitalizados</th>-->
    <!--      <th scope="col">Fallecidos</th>-->
    <!--      <th scope="col">Curados</th>-->
    <!--      <th scope="col">Nuevos con respecto a ayer</th>-->
    <!--    </tr>-->
    <!--    </thead>-->
    <!--    <tbody>-->
    <!--    <tr *ngFor="let community of communities; let i = index">-->
    <!--      <th scope="row">{{ i }}</th>-->
    <!--      <td>-->
    <!--        {{ community.ccaa }}-->
    <!--      </td>-->
    <!--      <td>{{ community.casos_totales | number}}</td>-->
    <!--      <td>{{ community.hospitalizados | number }}</td>-->
    <!--      <td>{{ community.fallecidos | number }}</td>-->
    <!--      <td>{{ community.curados | number }}</td>-->
    <!--      <td>{{ community.nuevos_respecto_ayer | number }}</td>-->
    <!--    </tr>-->
    <!--    </tbody>-->
    <!--  </table>-->


    <app-historical *ngIf="chartSelected ==='all'"></app-historical>
    <!--    <ion-card *ngIf="chartSelected ==='all'">-->
    <!--        <ion-card-header>-->
    <!--            <ion-card-subtitle>-->
    <!--                Evolucion de casos-->
    <!--            </ion-card-subtitle>-->
    <!--        </ion-card-header>-->
    <!--        <div class="chart-wrapper">-->
    <!--            <canvas baseChart-->
    <!--                    *ngIf="data"-->
    <!--                    [datasets]="lineChartData"-->
    <!--                    [labels]="lineChartLabels"-->
    <!--                    [options]="lineChartOptions"-->
    <!--                    [colors]="lineChartColors"-->
    <!--                    [legend]="lineChartLegend"-->
    <!--                    [chartType]="lineChartType"-->
    <!--                    [plugins]="lineChartPlugins">-->
    <!--            </canvas>-->
    <!--        </div>-->
    <!--        <ion-card-content>-->
    <!--        </ion-card-content>-->
    <!--    </ion-card>-->


    <!--    <div class="chart-wrapper">-->
    <!--        <canvas baseChart-->
    <!--                *ngIf="chartReady"-->
    <!--                [data]="doughnutChartData"-->
    <!--                [labels]="doughnutChartLabels"-->
    <!--                [chartType]="doughnutChartType">-->
    <!--        </canvas>-->
    <!--    </div>-->

    <!--    <div class="chart-wrapper">-->
    <!--        <canvas baseChart-->
    <!--                *ngIf="chartReady"-->
    <!--                [datasets]="barChartData"-->
    <!--                [labels]="barChartLabels"-->
    <!--                [options]="barChartOptions"-->
    <!--                [plugins]="barChartPlugins"-->
    <!--                [legend]="barChartLegend"-->
    <!--                [chartType]="barChartType">-->
    <!--        </canvas>-->
    <!--    </div>-->

    <!--    <ion-toolbar>-->
    <!--        <div>-->
    <!--            <ngx-datatable-->
    <!--                    class="material"-->
    <!--                    [rows]="communities"-->
    <!--                    [loadingIndicator]="loadingIndicator"-->
    <!--                    [columns]="columns"-->
    <!--                    [headerHeight]="50"-->
    <!--                    [footerHeight]="50"-->
    <!--                    rowHeight="auto"-->
    <!--                    [reorderable]="reorderable">-->
    <!--            </ngx-datatable>-->
    <!--        </div>-->

    <!--    </ion-toolbar>-->


    <ion-card *ngIf="chartSelected ==='daily'">
        <ngx-charts-bar-vertical
                [scheme]="colorScheme"
                [results]="single"
                [xAxis]="showXAxis"
                [yAxis]="showYAxis"
                [legend]="showLegend"
                [showXAxisLabel]="true"
                [xAxisLabel]="">
        </ngx-charts-bar-vertical>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
    <app-age-range></app-age-range>


    <!--    <ion-card>-->
    <!--        <ion-card-content>-->
    <!--        </ion-card-content>-->
    <!--&lt;!&ndash;        <ngx-charts-bar-horizontal-2d&ndash;&gt;-->
    <!--&lt;!&ndash;                [view]="[340, 100]"&ndash;&gt;-->
    <!--&lt;!&ndash;                [scheme]="colorScheme"&ndash;&gt;-->
    <!--&lt;!&ndash;                [schemeType]="schemeType"&ndash;&gt;-->
    <!--&lt;!&ndash;                [results]="result"&ndash;&gt;-->
    <!--&lt;!&ndash;                [xAxis]="showXAxis"&ndash;&gt;-->
    <!--&lt;!&ndash;                [yAxis]="showYAxis"&ndash;&gt;-->
    <!--&lt;!&ndash;                [legend]="showLegend"&ndash;&gt;-->
    <!--&lt;!&ndash;                [showXAxisLabel]="false"&ndash;&gt;-->
    <!--&lt;!&ndash;                [showYAxisLabel]="true"&ndash;&gt;-->
    <!--&lt;!&ndash;                [xAxisLabel]="xAxisLabel"&ndash;&gt;-->
    <!--&lt;!&ndash;        >&ndash;&gt;-->
    <!--&lt;!&ndash;        </ngx-charts-bar-horizontal-2d>&ndash;&gt;-->
    <!--        <ion-card-content>-->
    <!--        </ion-card-content>-->
    <!--    </ion-card>-->


    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="communities">
                <ion-tab-button [routerLink]="['/communities']">
                    <ion-icon name="calendar"></ion-icon>
                    <ion-label>Schedule</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="speakers">
                    <ion-icon name="person-circle"></ion-icon>
                    <ion-label>Speakers</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="map">
                    <ion-icon name="map"></ion-icon>
                    <ion-label>Map</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="about">
                    <ion-icon name="information-circle"></ion-icon>
                    <ion-label>About</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-content>

