<ion-content>
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title>Estadísticas</ion-title>
        </ion-toolbar>

    </ion-header>

    <ion-card>
        <ion-item>
            <ion-icon name="stats-chart-outline"></ion-icon>
            <ion-toolbar>
                <ion-label>Información general</ion-label>
            </ion-toolbar>
            <ion-button fill="outline" slot="end" (click)="fun()">Detalle</ion-button>
        </ion-item>

        <ion-card-content>
            <!-- Notes in a List -->
            <ion-list>
                <ion-item>
                    <ion-label style="font-size: small">Confirmados:</ion-label>
                    <ion-note slot="end" style="font-size: x-small">{{ spainInfo?.cases | number }}</ion-note>
                    <ion-note slot="end" style="font-size: x-small">+{{ spainInfo?.todayCases | number }}</ion-note>
                    <ion-note slot="end">
                        <ion-badge style="font-size: xx-small" color="warning">
                            +{{ spainInfo?.todayCases * 100 / spainInfo?.cases | number : '1.2-2'}}%
                        </ion-badge>
                    </ion-note>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label style="font-size: small">Fallecidos:</ion-label>
                    <ion-note slot="end" style="font-size: x-small">{{ spainInfo?.deaths | number }}</ion-note>
                    <ion-note slot="end" style="font-size: x-small">+{{ spainInfo?.todayDeaths | number }}</ion-note>
                    <ion-note slot="end">
                        <ion-badge style="font-size: xx-small" color="danger">
                            +{{ spainInfo?.todayDeaths * 100 / spainInfo?.deaths | number : '1.2-2'}}%
                        </ion-badge>
                    </ion-note>
                </ion-item>
            </ion-list>

            <ion-list>
                <ion-item>
                    <ion-label style="font-size: small">Activos:</ion-label>
                    <ion-note slot="end" style="font-size: x-small">{{ spainInfo?.active | number }}</ion-note>
                </ion-item>
            </ion-list>
            <ion-list>
                <ion-item>
                    <ion-label style="font-size: small">Recuperados:</ion-label>
                    <ion-note slot="end" style="font-size: x-small">{{ spainInfo?.recovered | number }}</ion-note>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-toolbar>
        <ion-segment value="all">
            <ion-segment-button value="all">
                <ion-label>All</ion-label>
            </ion-segment-button>
            <ion-segment-button value="favorites">
                <ion-label>Favorites</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

    <!--  <table class="table table-striped">-->
    <!--    <thead>-->
    <!--    <tr>-->
    <!--      <th scope="col">#</th>-->
    <!--      <th scope="col">Comunidad autonoma</th>-->
    <!--      <th scope="col">Casos totales</th>-->
    <!--      <th scope="col">Hospitalizados</th>-->
    <!--      <th scope="col">Fallecidos</th>-->
    <!--      <th scope="col">Curados</th>-->
    <!--      <th scope="col">Nuevos con respecto a ayer</th>-->
    <!--    </tr>-->
    <!--    </thead>-->
    <!--    <tbody>-->
    <!--    <tr *ngFor="let community of communities; let i = index">-->
    <!--      <th scope="row">{{ i }}</th>-->
    <!--      <td>-->
    <!--        {{ community.ccaa }}-->
    <!--      </td>-->
    <!--      <td>{{ community.casos_totales | number}}</td>-->
    <!--      <td>{{ community.hospitalizados | number }}</td>-->
    <!--      <td>{{ community.fallecidos | number }}</td>-->
    <!--      <td>{{ community.curados | number }}</td>-->
    <!--      <td>{{ community.nuevos_respecto_ayer | number }}</td>-->
    <!--    </tr>-->
    <!--    </tbody>-->
    <!--  </table>-->
    <div class="chart-wrapper">
        <canvas baseChart
                *ngIf="data"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
        </canvas>
    </div>

    <div class="chart-wrapper">
        <canvas baseChart
                *ngIf="chartReady"
                [data]="doughnutChartData"
                [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType">
        </canvas>
    </div>

    <div class="chart-wrapper">
        <canvas baseChart
                *ngIf="chartReady"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [plugins]="barChartPlugins"
                [legend]="barChartLegend"
                [chartType]="barChartType">
        </canvas>
    </div>



    <div>
        <h3>
            Fluid Row Heights
            <small>
                <a
                        href="https://github.com/swimlane/ngx-datatable/blob/master/src/app/basic/basic-auto.component.ts"
                        target="_blank"
                >
                    Source
                </a>
            </small>
        </h3>
        <ngx-datatable
                class="material"
                [rows]="rows"
                [loadingIndicator]="loadingIndicator"
                [columns]="columns"
                [columnMode]="ColumnMode.force"
                [headerHeight]="50"
                [footerHeight]="50"
                rowHeight="auto"
                [reorderable]="reorderable"
        >
        </ngx-datatable>
    </div>


    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button tab="schedule">
                    <ion-icon name="calendar"></ion-icon>
                    <ion-label>Schedule</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="speakers">
                    <ion-icon name="person-circle"></ion-icon>
                    <ion-label>Speakers</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="map">
                    <ion-icon name="map"></ion-icon>
                    <ion-label>Map</ion-label>
                </ion-tab-button>

                <ion-tab-button tab="about">
                    <ion-icon name="information-circle"></ion-icon>
                    <ion-label>About</ion-label>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-content>

